---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  content_collection_cs_1102,
} from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
      .subtitle-in-index {
        min-width: 5rem;
      }
      @media (max-width: 350px) {
        .sub-container {
          margin-bottom: 0.5rem;
        }
      }
      @media (min-width: 350px) {
        .subtitle-in-index {
          min-width: 7rem;
        }
      }
      @media (max-width: 500px) {
        .subtitle-in-index {
          flex-direction: column;
        }
        .subtitle-in-index > .subtitle-in-index-number {
          font-size: 1.5rem;
          margin-top: 0.5rem;
        }
      }
      @media (min-width: 500px) {
        .subtitle-in-index > .subtitle-in-index-number {
          margin-left: 0.5rem;
          font-size: 1.25rem;
        }
        .subtitle-in-index {
          min-width: 8.5rem;
        }
        .sub-container {
          margin-bottom: -0.5rem;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            content_collection_cs_1102
              .sort((a, b) => a.order - b.order)
              .map((content) => (
                <li
                  class="sub-container"
                  style="display: flex; flex-direction: row; align-items: center; margin-top: 0rem; width: fit-content"
                >
                  <h4
                    class="subtitle-in-index"
                    style="margin-right: 2.25rem; font-family: monospace; font-size: 1.1rem; display: inline-flex; line-height: 1rem; margin-bottom: 1.5rem;"
                  >
                    <span>{content.subtitle}</span>
                    <span class="subtitle-in-index-number">
                      {content.subtitle_number}
                    </span>
                  </h4>
                  <a href={`/CS_1102/${content.slug}/`}>{content.title}</a>
                </li>
              ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
