---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {
  title,
  description,
  subtitle,
  subtitle_number,
  heroImage,
  isObjectiveQuestions,
  isLongQuestions,
  isProgrammingQuestions,
  content_collection,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 1.85rem;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      a {
        all: unset;
      }
      @media (min-width: 668px) {
        .sub-info-container {
          /* margin-top: 0.15rem;
            margin-bottom: -0.35rem; */
          font-family: monospace;
          font-size: 1.25rem;
          text-transform: uppercase;
          display: block;
          /* background-color: red; */
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          /* padding-bottom: -5rem; */
          padding: -5rem;
          margin-top: 1rem;
          margin-bottom: -0.25rem;
        }
      }
      .sub-info-title,
      .sub-info-objective,
      .sub-info-long,
      .sub-info-programming {
        display: inline;
      }
      .sub-info-objective {
        -webkit-text-fill-color: rgb(255, 0, 0);
      }
      .sub-info-long {
        -webkit-text-fill-color: rgb(72, 0, 255);
      }
      .sub-info-programming {
        -webkit-text-fill-color: rgb(247, 0, 255);
      }
      @media (max-width: 668px) {
        .sub-info-title,
        .sub-info-objective,
        .sub-info-long,
        .sub-info-programming {
          background-color: gray;
          -webkit-text-fill-color: cyan;
          border-radius: 10px;
          display: inline-block;
          padding: 0.5px 12.5px;
          margin-bottom: 0.75rem;
        }
        .sub-info-objective {
          -webkit-text-fill-color: rgb(217, 255, 0);
          margin-top: -0.5rem;
        }
        .sub-info-long {
          -webkit-text-fill-color: rgb(255, 217, 244);
          margin-top: -0.5rem;
        }
        .sub-info-programming {
          -webkit-text-fill-color: rgb(0, 255, 140);
          margin-top: -0.5rem;
        }
        .sub-info-container {
          margin-top: -0.25rem;
          margin-bottom: -0.75rem;
          font-family: monospace;
          font-size: 1.175rem;
          text-transform: uppercase;
          display: block;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {
          subtitle && (
            <div class="sub-info-container">
              <div>
                <h4 class="sub-info-title">
                  {subtitle} {subtitle_number}
                </h4>
                {isObjectiveQuestions && (
                  <h4 class="sub-info-objective">Objectives</h4>
                )}
                {isLongQuestions && <h4 class="sub-info-long">Long-type</h4>}
                {isProgrammingQuestions && (
                  <h4 class="sub-info-programming">Programming</h4>
                )}
              </div>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
      <Footer />
    </main>
  </body>
</html>
